<app-traffic-light
  class="top"
  [inputTraficLightState]="trafficLightState"
  [inputFlexDirection]="FlexDirection.Row"
></app-traffic-light>
<app-traffic-light
  class="bottom"
  [inputTraficLightState]="trafficLightState"
  [inputFlexDirection]="FlexDirection.Row"
></app-traffic-light>
<app-traffic-light
  class="left"
  [inputTraficLightState]="calculateOppositeTrafficLightState()"
  [inputFlexDirection]="FlexDirection.Column"
></app-traffic-light>
<app-traffic-light
  class="right"
  [inputTraficLightState]="calculateOppositeTrafficLightState()"
  [inputFlexDirection]="FlexDirection.Column"
></app-traffic-light>
<button class="accident-btn" [disabled]="!accidentButtonActive" (click)="handleAccident()">Accident</button>
