<div
  class="traffic-light-container"
  [ngStyle]="{ 'flex-direction': inputFlexDirection }"
>
  <div
    class="traffic-light red"
    [ngClass]="{ active: inputTraficLightState === TrafficLightState.Red }"
  ></div>
  <div
    class="traffic-light yellow"
    [ngClass]="{ active: inputTraficLightState === TrafficLightState.Yellow }"
  ></div>
  <div
    class="traffic-light green"
    [ngClass]="{ active: inputTraficLightState === TrafficLightState.Green }"
  ></div>
</div>
<div class="cross-container">
  <button
    class="cross-btn"
    (click)="handleCrossButton()"
    [disabled]="
      inputTraficLightState === TrafficLightState.Red ||
      inputTraficLightState === TrafficLightState.Off
    "
  >
    Cross
  </button>
</div>
