.traffic-light-container {
  display: flex;
  border: 2px solid black;
  width: fit-content;
  flex-direction: column;
  margin-bottom: 1rem;
}

.traffic-light {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem 0.5rem;
  opacity: 0.3;
}

.traffic-light.active {
  opacity: 1;
}

.traffic-light.red {
  background-color: red;
}

.traffic-light.yellow {
  background-color: yellow;
}

.traffic-light.green {
  background-color: green;
}

.cross-container {
  text-align: center;
}

.cross-btn {
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
}